body {
  background: #FAF0E6;
  color: #000;
  padding: 25px;
  font-family: sans-serif;
}
h1 {
  background: #FAF0E6;
  color: #191970;
  padding: 1px;
  font-family: Verdana, Geneva, sans-serif;
  text-align: center;
}
h2 {background: #FAF0E6;
  color: #191970;
  padding: 1px;
  font-family: sans-serif;
  text-align: center;
}
  h3 {
  background: #FAF0E6;
  color: blue;
  padding: 1px;
  font-family: sans-serif;
  margin: 0 auto;
  text-align: center;
}
h4 {background: #FAF0E6;
  color: #000;
  padding: 25px;
  font-family: sans-serif;
  text-align: center;}
